<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <!-- <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/> -->
    <!-- <link rel="stylesheet" href="stylesheets/style_dataShow.css"/> -->
    <script src="/javascripts/jquery-3.2.0.min.js"></script>
    <title>addBed</title>
    <!-- <script type="text/javascript" src="/javascripts/smoothie.js"></script> -->
    <!-- <script type="text/javascript" src="/javascripts/server-load.js"></script> -->
</head>
<body>
<header>
    <div class="logo to-left">
        <a href="http://www.ydytech.net" class="bold-text">
            <b class="color-white">YDY</b><span class="color-black">tech</span>
        </a>
    </div>
    <div class="navigate to-right ">
        <a href="/login" class="color-white bold-text">Login In</a>
    </div>
</header>
<section>
    <center>
    <div class="color-white systemId">
        <h>浙医XX床位号添加</h>
    </div>
        <form method="post" id="loginupForm" enctype='application/json'>
            <table cellspacing="10">
                <tr class="inscrire-id-label">
                    <td>
                        <span class="">ID</span>
                    </td>
                    <td>
                        <div class="inscrire-label">
                            <input class="inscrire-id-texte" type="text" value="YDY00001001" disabled></input>
                        </div>
                    </td>
                </tr>

                <tr class="inscrire-nom-label">
                    <td>
                        <span class="">Account</span>
                    </td>
                    <td>
                        <div class="inscrire-nom">
                            <input id="account" class="inscrire-nom-texte" type="text" value="stevekeol-test"></input>
                        </div>
                    </td>
                </tr>

                <tr class="inscrire-pw-label">
                    <td>
                        <span class="">Password</span>
                    </td>
                    <td>
                        <div class="inscrire-pw">
                            <input id="password" class="inscrire-pw-texte" type="password" value="zhangjie0812"></input>
                        </div>
                    </td>
                </tr>

                <tr class="inscrire-conf-pw-label">
                    <td>
                        <span class="">Repassword</span>
                    </td>
                    <td>
                        <div class="inscrire-conf-pw">
                            <input id="repassword" class="inscrire-pw-texte" type="password" value="zhangjie0812"></input>
                        </div>
                    </td>
                </tr>

                <tr class="inscrire-phone-label">
                    <td>
                        <span class="">Phone</span>
                    </td>
                    <td>
                        <div class="inscrire-phone">
                            <input id="phone" class="inscrire-phone-texte" type="text" value="15258800906"></input>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="ok">
                <input class="color-white" type="submit" value="Submit"></input>
            </div>
        </form>
    </center>
</section>
<script>
</script>
</body>
</html>
