<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style_dataShow.css"/>
    <script src="/javascripts/jquery-3.2.0.min.js"></script>
    <title>Data monitoring</title>
    <script type="text/javascript" src="/javascripts/smoothie.js"></script>
    <script type="text/javascript" src="/javascripts/server-load.js"></script>
</head>
<body class="dataShow-font" onload="init()">
<div>
<header>
    <span class="inline">
        <a href="http://www.ydytech.net"><img id="logo-img" src="/images/nav_logo.png" alt="logo" /></a>
    </span>
    <span class="inline" style="float:right;">
        <ul>
<!--         <li class="inline"><a class="btn" href="/login"><h2>Login in</h2></a></li>
        <li class="inline"><a class="btn" href="/loginup"><h2>Login up</h2></a></li>  -->
        <li class="inline"><a class="btn" href=" "><h2>Log out</h2></a></li> 
        <li class="inline"><a class="btn" href="/addBed"><h2>Add Person</h2></a></li> 
        </ul>
    </span>
</header>
</div>

<div class="text-center" id="page_title">
    <h1>Data monitoring...</h1><tr><tr>
</div>
<div>
    <h2>stevekeol</h2>
    <canvas id="Person-001" width="700" height="300" >
        <p>Please upgrade your browser to use DataShow!</p>
    </canvas>  
    <h2>ygc-ygc</h2>
    <canvas id="Person-002" width="700" height="300" >
        <p>Please upgrade your browser to use DataShow!</p>
    </canvas>
    <h2>skypupil</h2>
    <canvas id="Person-003" width="700" height="300" >
        <p>Please upgrade your browser to use DataShow!</p>
    </canvas>
    <h2>...</h2>
    <canvas id="Person-004" width="700" height="300" >
        <p>Please upgrade your browser to use DataShow!</p>
    </canvas>
</div>
<script>

</script>
</body>
</html>
