<!DOCTYPE html>
<html>
<head>
	<title>医电园</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<script src='/javascripts/jquery.min.js'></script>
</head>
<body>
	<header>
		<div class="logo to-left">
			<a href="http://www.ydytech.net" class="bold-text">
				<b class="color-white">YDY</b><span class="color-black">tech</span>
			</a>
		</div>
		<div class="navigate to-right ">
			<a href="/login" class="color-white bold-text">Login</a>
		</div>
	</header>
	<center>
		<div class="color-white systemId">
			<h>欢迎界面（待）</h>
		</div>
		<br>
	    <span class="inline">
	        <img src="/images/sleep.jpg" height="700" width="1800"/>
	    </span>
	</center>
</body>
</html> 